// HEX
$grey-500: #4d4f62;
$grey-400: #6a7178;
$white: #ffffff;
$red: #ea5454;
$cyan: #44d3d2;
$blue: #549ef2;
$orange: #fcae4a;

// RGB
$grey-500-rgb: rgb(77, 79, 98);
$grey-400-rgb: rgb(106, 113, 120);
$white-rgb: rgb(255, 255, 255);
$red-rgb: rgb(234, 84, 84);
$cyan-rgb: rgb(68, 211, 210);
$blue-rgb: rgb(84, 158, 242);
$orange-rgb: rgb(252, 174, 74);

// HSL
$grey-500-hsl: hsl(234, 12%, 34%);
$grey-400-hsl: hsl(212, 6%, 44%);
$white-hsl: hsl(0, 0%, 100%);
$red-hsl: hsl(0, 78%, 62%);
$cyan-hsl: hsl(180, 62%, 55%);
$blue-hsl: hsl(212, 86%, 64%);
$orange-hsl: hsl(34, 97%, 64%);


// Font-Family
$font-family-primary: 'Poppins', sans-serif;

// Spacing
$spacing-1: 0.5rem; // 8
$spacing-2: 1rem; // 16
$spacing-3: 1.5rem; // 24
$spacing-4: 2rem; // 32
$spacing-5: 2.5rem; // 40